@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


/*---------------------------------------------------------------------------------------------------*/


.appbar-menu {
    font-weight: bold;
    font-size: 17px;
    color: white;
    margin-right: 30px;
    border-spacing: 10px;
}

    .appbar-menu:hover {
        border-radius: 5px;
        color: azure;
        border: 2px solid;
        transition: all 0.1s ease;
        font-size: 19px;
        font-weight: bold;
        padding: 8px;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.1);
    }


/*---------------------------------------------------------------------------------------------------*/


.btn-nextIdea {
    background-color: rgb(22, 162, 73);
    border-radius: 5px;
}

    .btn-nextIdea:hover {
        transform: translateY(-2px);
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.60);
    }

    .btn-nextIdea:active {
        transform: translateY(1px);
    }


/*---------------------------------------------------------------------------------------------------*/


.btn-generate {
    border-radius: 5px;
    background-color: rgb(22, 162, 73);
}

    .btn-generate:hover {
        transform: translateY(-2px);
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.60);
    }

    btn-generate:active {
        transform: translateY(1px);
    }

.animated-icon {
    animation: move-up-down 1.5s ease-in-out infinite, color-change 5s linear infinite;
    will-change: transform, stroke;
}

@keyframes move-up-down {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-3px);
    }
}

@keyframes color-change {
    0% {
        stroke: #ff0000;
    }
    16% {
        stroke: #ff7f00;
    }
    33% {
        stroke: #ffff00;
    }
    50% {
        stroke: #00ff00;
    }
    66% {
        stroke: #0000ff;
    }
    83% {
        stroke: #4b0082;
    }
    100% {
        stroke: #9400d3;
    }
}